<div class="footerContainer mt-auto">
  <footer class="galaxy-footer mt-auto">
    <div class="footer-credit">
      <p class="credit-text" id="credit-text">
        Galaxy Finance is a fully authorized Electronic Money Institution (EMI)
        regulated by the FCA. We provide secure, reliable, and efficient payment
        services, ensuring your money is handled with care and your transactions
        are safe and seamless.
      </p>
    </div>

    <div class="footer-links text-center mt-3">
      <span class="copyright mt-3">
        <a
          class="align-items-center <%= currentPage === '/' ? 'active' : '' %>"
          href="/home"
        >
          <img
            src="/images/galaxyfinance_logo.png"
            id="galaxySmallLogo"
            alt="galaxyfinance_logo"
          />
        </a>
        © 2025</span
      >
    </div>
  </footer>
</div>
