<h1 class="mb-4">My Links</h1>

<div class="container">
  <div class="row">
    <% for (let link of links) { %>
    <div class="col-sm-6 col-md-5 col-lg-4 mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          <h5 class="card-title"><%= link.name %></h5>
          <p class="card-text text-muted">
            Created: <%= link.createdAt.toLocaleString() %>
          </p>
        </div>
        <div class="card-footer bg-transparent border-top-0">
          <div class="row g-2 w-90">
            <div class="col-6">
              <a
                href="<%= link.link %>"
                target="_blank"
                class="btn btn-primary btn-sm w-100"
              >
                Visit Link
              </a>
            </div>
            <div class="col-6">
              <a
                href="/link-info/<%= link.transactionId %>"
                target="_blank"
                class="btn btn-warning btn-sm w-100"
              >
                Check Updates
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </div>
</div>
